body {
  font-family: Verdana;
  font-size: 14px;
}
.nav-item a{
  margin-left: 10px;
  border: 1px transparent;
  border-radius: 10px;
  
}
.nav-item a:hover{
  background-color: #0c6ff8;
  border-radius: 10px;
  transform: scale(110%);
  transition: 0.3s;
  color: white;
}

